@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#box .content {
  width: 1200px;
  margin: auto;
}

#box #header {
  width: 100%;
  height: 800px;
}

#box #header .top_1 {
  background: #e5e5e5;
}

#box #header .top_1 .content #h_top {
  width: 100%;
  height: 30px;
  display: flex;
  position: relative;
}

#box #header .top_1 .content #h_top a {
  width: 30px;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

#box #header .top_1 .content #h_top a:hover {
  text-decoration: underline;
  color: #dc0f50;
}

#box #header .top_1 .content #h_top .h_p1 {
  margin-right: 300px;
}

#box #header .top_1 .content #h_top .h_u1 {
  display: flex;
}

#box #header .top_1 .content #h_top .h_u1 li {
  float: left;
  width: 50px;
  margin-right: 15px;
}

#box #header .top_1 .content #h_top .h_u1 li:first-child {
  width: 30px;
}

#box #header .top_1 .content #h_top .h_u1 .a1 {
  margin-left: 10px;
  margin-right: 10px;
}

#box #header .top_1 .content #h_top .h_u1 .l_dl {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box #header .top_1 .content #h_top .h_u1 .l_dl #dl {
  width: 40px;
}

#box #header .top_1 .content #h_top .h_u1 .l_dl .dl_xs {
  width: 100px;
  height: 30px;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #dc0f50;
  cursor: pointer;
  display: none;
}

#box #header .top_1 .content #h_top .h_u1 .l_reg {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box #header .top_1 .content #h_top .h_u1 .l_reg #reg {
  width: 50px;
}

#box #header .top_1 .content #h_top .h_u1 .l_reg .reg_tc {
  display: block;
  width: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
  display: none;
}

#box #header .top_1 .content #h_top .h_u2 {
  width: 100%;
  height: 30px;
}

#box #header .top_1 .content #h_top .h_u2 li {
  width: 80px;
  float: left;
}

#box #header .top_1 .content #h_top .h_u2 li a {
  width: 70px;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

#box #header .top_1 .content #h_top .h_u2 .yj {
  width: 100px;
}

#box #header .top_1 .content #h_top .h_u2 .yj .yhq {
  width: 100px;
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

#box #header .top_1 .content #h_top .h_u3 {
  width: 150px;
  display: flex;
}

#box #header .top_1 .content #h_top .h_u3 li {
  display: flex;
  flex: 1;
  float: left;
}

#box #header .top_1 .content #h_top .h_u3 li a {
  width: 70px;
}

#box #header .top_1 .content #h_top .h_u3 li img {
  width: 8px;
  height: 12px;
  margin-top: 8px;
}

#box #header .top_1 .content #h_top .h_u3 .li_1 {
  margin-left: 10px;
}

#box #header .top_1 .content #h_top .t_app, #box #header .top_1 .content #h_top .t_weixin, #box #header .top_1 .content #h_top .t_shiyanshi {
  width: 150px;
  height: 180px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  z-index: 22;
}

#box #header .top_1 .content #h_top .t_app img, #box #header .top_1 .content #h_top .t_weixin img, #box #header .top_1 .content #h_top .t_shiyanshi img {
  width: 100px;
  height: 100px;
  margin: 24px 24px 0px 26px;
}

#box #header .top_1 .content #h_top .t_app p, #box #header .top_1 .content #h_top .t_weixin p, #box #header .top_1 .content #h_top .t_shiyanshi p {
  margin-left: 41px;
}

#box #header .top_1 .content #h_top .t_app {
  top: 30px;
  right: 80px;
}

#box #header .top_1 .content #h_top .t_weixin {
  top: 30px;
  right: 0px;
}

#box #header .top_1 .content #h_top .t_shiyanshi {
  top: 211px;
  right: 0px;
}

#box #header .content #h_top {
  width: 100%;
  height: 30px;
  background: #e5e5e5;
  display: flex;
}

#box #header .content #h_top a {
  display: block;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

#box #header .content #h_top a:hover {
  text-decoration: underline;
  color: #dc0f50;
}

#box #header .content #h_top .h_p1 {
  margin-right: 450px;
}

#box #header .content #h_top .h_u1 {
  display: flex;
}

#box #header .content #h_top .h_u1 li {
  float: left;
  width: 50px;
  margin-right: 15px;
}

#box #header .content #h_top .h_u1 li:first-child {
  width: 30px;
}

#box #header .content #h_top .h_u1 .a1 {
  margin-left: 10px;
  margin-right: 10px;
}

#box #header .content #h_top .h_u2 {
  width: 370px;
  display: flex;
}

#box #header .content #h_top .h_u2 li {
  flex: 1;
  float: left;
}

#box #header .content #h_top .h_u2 .a2 {
  margin-right: 10px;
  margin-left: 5px;
}

#box #header .content #h_top .h_u3 {
  width: 150px;
  display: flex;
}

#box #header .content #h_top .h_u3 li {
  display: flex;
  flex: 1;
  float: left;
}

#box #header .content #h_top .h_u3 li a {
  width: 50px;
}

#box #header .content #h_top .h_u3 li img {
  width: 8px;
  height: 12px;
  margin-top: 8px;
}

#box #header .content #h_top .h_u3 .li_1 {
  margin-left: 10px;
}

#box #header .content #h_bottom {
  width: 100%;
  height: 170px;
  background: #fff;
}

#box #header .content #h_bottom .b_top {
  width: 100%;
  height: 100px;
  display: flex;
}

#box #header .content #h_bottom .b_top .login {
  width: 230px;
  height: 100%;
  background-position: center center;
  background-image: url(../img/logo_111.jpg);
  background-repeat: no-repeat;
  text-indent: -999px;
}

#box #header .content #h_bottom .b_top .b_t_center {
  width: 500px;
  height: 100%;
  margin-top: 25px;
  margin-left: 200px;
}

#box #header .content #h_bottom .b_top .b_t_center .search {
  width: 100%;
  display: flex;
  border: 2px solid #dc0f50;
}

#box #header .content #h_bottom .b_top .b_t_center .search .inpcon {
  width: 470px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  border: none;
}

#box #header .content #h_bottom .b_top .b_t_center .search .btn {
  display: block;
  width: 120px;
  height: 44px;
  background: #dc0f50;
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
}

#box #header .content #h_bottom .b_top .b_t_center .search .btn:hover {
  opacity: 0.7;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list {
  width: 550px;
  display: flex;
  height: 30px;
  align-items: center;
  display: none;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list li {
  font-size: 14px;
  margin-right: 15px;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list li a {
  display: block;
  color: #999;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list li .aa {
  color: #dc0f50;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list li a:hover {
  color: #dc0f50;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list .a1 {
  width: 30px;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list .a2 {
  width: 44px;
}

#box #header .content #h_bottom .b_top .b_t_center .c_list ul:first-child {
  margin-right: 0px;
}

#box #header .content #h_bottom .b_top .b_t_right {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box #header .content #h_bottom .b_top .b_t_right .r_p1 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border: 1px solid #999;
  position: relative;
  cursor: pointer;
}

#box #header .content #h_bottom .b_top .b_t_right .r_p1 span:first-child {
  color: #dc0f50;
  font-size: 20px;
  margin-right: 5px;
}

#box #header .content #h_bottom .b_top .b_t_right .r_p1 .r_span1 {
  font-size: 14px;
  color: #333;
}

#box #header .content #h_bottom .b_top .b_t_right .r_p1 #i_top {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -10px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  background: red;
  color: #fff;
}

#box #header .content #h_bottom .b_bottom {
  margin-top: 30px;
  width: 100%;
  position: relative;
  display: flex;
}

#box #header .content #h_bottom .b_bottom #b_b_left {
  width: 230px;
  height: 100%;
  cursor: pointer;
  z-index: 21085;
}

#box #header .content #h_bottom .b_bottom #b_b_left .left_p2 {
  color: #fff;
  line-height: 40px;
  text-align: center;
  z-index: 21085;
  background: #333;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list {
  height: 557px;
  width: 228px;
  border: 1px solid #ccc;
  position: absolute;
  top: 42px;
  border-top: none;
  z-index: 210850;
  display: none;
  background: #fff;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li {
  height: 40px;
  width: 100%;
  line-height: 40px;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li a {
  color: #333;
  margin-left: 20px;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con {
  width: 970px;
  background: #fff;
  position: absolute;
  left: 230px;
  top: 0px;
  height: 557px;
  display: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  z-index: 20000;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con dl {
  display: flex;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con dl dt {
  width: 120px;
  margin-right: 30px;
  text-align: right;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con dl dt a {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-left: 20px;
  cursor: pointer;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con dl dd {
  flex: 1;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li .con dl dd a {
  display: inline-block;
  font-size: 14px;
  color: #666;
  padding: 0 20px;
  margin: 9px 0;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  border-left: 1px solid #E3E3E3;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li:hover {
  background: #ccc;
}

#box #header .content #h_bottom .b_bottom #b_b_left .list li:hover a {
  color: #dc0f50;
}

#box #header .content #h_bottom .b_bottom .b_b_right {
  height: 40px;
  flex: 1;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list {
  width: 100%;
  height: 40px;
  display: flex;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list li {
  height: 40px;
  margin-right: 50px;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list li a {
  color: #333;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list li .f_a {
  color: #dc0f50;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list li a:hover {
  color: #dc0f50;
}

#box #header .content #h_bottom .b_bottom .b_b_right .r_list li:first-child {
  margin-left: 50px;
}

#box #header .xiantiao {
  width: 100%;
  height: 2px;
  background: #dc0f50;
}

#box #main {
  flex: 1;
  background: #fff;
}

#box #main .content {
  height: 100%;
}

#box #main .content .con .bt {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 20px;
}

#box #main .content .con .bt li {
  height: 100%;
  display: flex;
}

#box #main .content .con .bt li a {
  height: 100%;
  line-height: 40px;
  text-align: center;
  display: block;
  color: #333;
  font-size: 12px;
}

#box #main .content .con .bt li span {
  height: 100%;
  line-height: 40px;
  text-align: center;
  display: block;
  color: #333;
  font-size: 12px;
  margin: 0px 5px;
}

#box #main .content .con .bt li a:hover {
  color: #dc0f50;
}

#box #main .content .con .goodsinf {
  width: 100%;
  height: 570px;
  border: 1px solid #d6d6d6;
  margin-bottom: 10px;
  display: flex;
}

#box #main .content .con .goodsinf .left {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
}

#box #main .content .con .goodsinf .left .small {
  width: 64px;
  height: 458px;
}

#box #main .content .con .goodsinf .left .small a {
  display: block;
  height: 9px;
  background: url(../img/up_down.png) no-repeat center top;
  cursor: pointer;
}

#box #main .content .con .goodsinf .left .small .up {
  background-position: center -20px;
}

#box #main .content .con .goodsinf .left .small .down {
  background-position: center -30px;
}

#box #main .content .con .goodsinf .left .small .imglist {
  width: 64px;
  position: relative;
  height: 444px;
  overflow: hidden;
}

#box #main .content .con .goodsinf .left .small .imglist .img_ul {
  width: 100%;
  height: 100%;
  transition: all 1s inherit;
  position: absolute;
  left: 0;
  top: 0;
}

#box #main .content .con .goodsinf .left .small .imglist .img_ul li {
  height: 64px;
  padding: 5px 0;
  cursor: pointer;
}

#box #main .content .con .goodsinf .left .small .imglist .img_ul li img {
  width: 62px;
  height: 62px;
  border: 1px solid #fff;
}

#box #main .content .con .goodsinf .left .small .imglist .img_ul li img:hover {
  border: 1px solid orangered;
}

#box #main .content .con .goodsinf .left .biger {
  width: 460px;
  height: 460px;
  position: absolute;
  overflow: hidden;
  left: 585px;
  top: 0;
  z-index: 202556;
  border: 1px solid #dadada;
  display: none;
}

#box #main .content .con .goodsinf .left .biger img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
}

#box #main .content .con .goodsinf .left .imgs {
  margin-left: 30px;
  width: 100%;
  height: 100%;
}

#box #main .content .con .goodsinf .left .imgs .main {
  position: relative;
  overflow: hidden;
  width: 460px;
  height: 460px;
  border: 1px solid #dadada;
}

#box #main .content .con .goodsinf .left .imgs .main img {
  width: 100%;
  height: 100%;
}

#box #main .content .con .goodsinf .left .imgs .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #99C;
  opacity: 0.5;
  filter: alph(opacity-50);
  display: none;
}

#box #main .content .con .goodsinf .right {
  width: 50%;
  height: 100%;
  margin-top: 40px;
}

#box #main .content .con .goodsinf .right h3 {
  color: #333;
  font-size: 20px;
  height: 54px;
  line-height: 30px;
  padding: 7px 0;
  border-bottom: 1px solid #d6d6d6;
}

#box #main .content .con .goodsinf .right .xq {
  width: 100%;
  height: 375px;
}

#box #main .content .con .goodsinf .right .xq .price {
  width: 100%;
  height: 40px;
  position: relative;
}

#box #main .content .con .goodsinf .right .xq .price .span1 {
  color: #dc0f50;
  font-size: 30px;
  margin-right: 8px;
}

#box #main .content .con .goodsinf .right .xq .price .span2 {
  position: absolute;
  color: #c06;
  font-size: 14px;
  line-height: 14px;
  top: 12px;
  right: 27px;
}

#box #main .content .con .goodsinf .right .xq .span1 {
  font-size: 12px;
  color: #666;
  width: 50px;
}

#box #main .content .con .goodsinf .right .xq .num {
  width: 100%;
  height: 40px;
}

#box #main .content .con .goodsinf .right .xq .num .span2 {
  font-size: 12px;
  color: #666;
  width: 50px;
  margin-left: 20px;
}

#box #main .content .con .goodsinf .right .xq .sale {
  width: 100%;
  height: 40px;
}

#box #main .content .con .goodsinf .right .xq .sale .span2 {
  font-size: 12px;
  color: #666;
  width: 50px;
  margin-left: 50px;
}

#box #main .content .con .goodsinf .right .xq .promotion {
  width: 100%;
  height: 40px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d6d6d6;
}

#box #main .content .con .goodsinf .right .xq .promotion .span2 {
  font-size: 12px;
  color: #666;
  width: 50px;
  margin-left: 50px;
}

#box #main .content .con .goodsinf .right .xq .span3 {
  display: inline-block;
  display: flex;
  width: 274px;
}

#box #main .content .con .goodsinf .right .xq .span3 a {
  font-weight: bold;
  display: block;
  padding: 0 5px;
  height: 20px;
  border: 1px solid #d6d6d6;
  color: #666;
  text-align: center;
  line-height: 20px;
  margin: 0 5px 5px 0;
  border-radius: 1px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 18px;
}

#box #main .content .con .goodsinf .right .xq .color {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

#box #main .content .con .goodsinf .right .xq .color .c_span3 {
  margin-left: 17px;
}

#box #main .content .con .goodsinf .right .xq .color .c_span3 a {
  border: 1px solid #d6d6d6;
  color: #666;
  margin-right: 5px;
}

#box #main .content .con .goodsinf .right .xq .color .c_span3 a:hover {
  color: #dc0f50;
  border-color: #dc0f50;
}

#box #main .content .con .goodsinf .right .xq .color .c_span3 .a_active {
  color: #dc0f50;
  border-color: #dc0f50;
  border: 1px solid #dc0f50;
}

#box #main .content .con .goodsinf .right .xq .styles {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

#box #main .content .con .goodsinf .right .xq .styles .s_span3 {
  margin-left: 17px;
}

#box #main .content .con .goodsinf .right .xq .styles .s_span3 a {
  border: 1px solid #d6d6d6;
  color: #666;
  margin-right: 5px;
}

#box #main .content .con .goodsinf .right .xq .styles .s_span3 a:hover {
  color: #dc0f50;
  border-color: #dc0f50;
}

#box #main .content .con .goodsinf .right .xq .styles .s_span3 .a_active {
  color: #dc0f50;
  border-color: #dc0f50;
  border: 1px solid #dc0f50;
}

#box #main .content .con .goodsinf .right .xq .buynum {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

#box #main .content .con .goodsinf .right .xq .buynum .span1 {
  float: left;
  line-height: 26px;
  height: 40px;
  text-align: center;
}

#box #main .content .con .goodsinf .right .xq .buynum .cut {
  margin-left: 20px;
}

#box #main .content .con .goodsinf .right .xq .buynum a {
  display: block;
  width: 15px;
  overflow: hidden;
  float: left;
  background: url(../img/jia_jian.png) no-repeat;
  text-indent: -999em;
}

#box #main .content .con .goodsinf .right .xq .buynum #buycount {
  float: left;
  width: 40px;
  text-align: center;
  line-height: 19px;
  height: 19px;
  color: #666;
  font-size: 12px;
  border: 1px solid #d6d5d3;
}

#box #main .content .con .goodsinf .right .xq .buynum .add {
  background-position: 0 -20px;
}

#box #main .content .con .goodsinf .right .xq .list {
  display: flex;
}

#box #main .content .con .goodsinf .right .xq .list .span1 {
  font-size: 11px;
  background: #8138ce;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 4px;
}

#box #main .content .con .goodsinf .right .xq .list .span2 {
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

#box #main .content .con .goodsinf .right .xq .list #span2 {
  margin-right: 30px;
}

#box #main .content .con .goodsinf .right .xq .list #span3 {
  margin-left: 30px;
}

#box #main .content .con .goodsinf .right .xq .btn {
  width: 100%;
  height: 38px;
  display: flex;
  margin-top: 20px;
}

#box #main .content .con .goodsinf .right .xq .btn input {
  width: 160px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-right: 22px;
  cursor: pointer;
}

#box #main .content .con .goodsinf .right .xq .btn #addcart {
  background: #fea829;
  border: 1px solid #fea829;
}

#box #main .content .con .goodsinf .right .xq .btn #fastBuy {
  background: #dc0f50;
  border: 1px solid #dc0f50;
}

#box #main .content .con .goodsinf .right .xq .btn input:hover {
  opacity: 0.8;
}

#box #main .content .xuanxiang {
  width: 1200px;
  height: 2100px;
  border: 1px solid #e5e5e5;
}

#box #main .content .xuanxiang .xx_list {
  width: 100%;
  height: 100%;
  display: flex;
}

#box #main .content .xuanxiang .xx_list li {
  width: 160px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

#box #main .content .xuanxiang .xx_list li a {
  width: 160px;
  display: block;
  line-height: 50px;
  background: #f5f5f5;
  text-align: center;
  font-size: 18px;
  color: #333;
}

#box #main .content .xuanxiang .xx_list li .xx_active {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #dc0f50;
  border-top: 2px solid #dc0f50;
  position: relative;
  top: -1px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin-left: -1px;
}

#box #main .content .xuanxiang .xx_list li .xx_con {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 52px;
  left: 0px;
  display: block;
}

#box #main .content .xuanxiang .xx_list li .xx_con img {
  width: 1000px;
  height: 500px;
  margin-left: 100px;
}

#box #main .content .xuanxiang .xx_list li .xx_con2 {
  width: 1200px;
  display: flex;
  display: none;
  position: absolute;
  top: 52px;
}

#box #main .content .xuanxiang .xx_list li .xx_con2 img {
  width: 1000px;
  height: 500px;
  margin-left: -100px;
}

#box #main .content .xuanxiang .xx_list li .container {
  width: 1200px;
  display: none;
  position: absolute;
  top: 100px;
}

#box #main .content .xuanxiang .xx_list li .container .sendBox {
  width: 300px;
  margin-left: -100px;
}

#box #main .content .xuanxiang .xx_list li .container .sendBox .s_div {
  margin: 5px 0;
  display: flex;
  width: 1200px;
}

#box #main .content .xuanxiang .xx_list li .container .sendBox .s_div #s_content {
  margin-bottom: 5px;
  width: 560px;
  height: 40px;
}

#box #main .content .xuanxiang .xx_list li .container .sendBox .s_div .btn1 {
  width: 100px;
  height: 42px;
  cursor: pointer;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list {
  width: 660px;
  margin-left: -100px;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #CCC;
  background-color: white;
  position: relative;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl dt {
  height: 30px;
  line-height: 30px;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl .t {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl .t a {
  margin: 0 5px;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl .shijian {
  margin-left: 400px;
}

#box #main .content .xuanxiang .xx_list li .container #pl_list dl .plnr p {
  color: blue;
}

#box #main .content .xuanxiang .xx_list li .container #showMore {
  width: 640px;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #CCC;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

#box #main .content .xuanxiang .xx_list li .zj_con {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  display: none;
  margin-left: -300px;
}

#box #main .content .xuanxiang .xx_list li .zj_con img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
}

#box #main .content .main_bottom {
  margin-top: 20px;
  width: 1200px;
  height: 50px;
  color: #666;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

#box #main .content .main_bottom .m_b_p1 {
  margin-left: 20px;
}

#box #main .content .main_bottom img {
  width: 22px;
  height: 22px;
  padding-top: 7px;
}

#box .aside {
  width: 60px;
  height: 210px;
  position: fixed;
  right: 10px;
  top: 300px;
}

#box .aside p {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#box .aside p i {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icon_bg.png) no-repeat;
}

#box .aside p .i2 {
  background-position: 0 -70px;
}

#box .aside .p3 {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: none;
}

#box .aside .p3 a {
  width: 100%;
  height: 100%;
  display: block;
}

#box .aside .p3 a .i3 {
  background-position: 0 -140px;
}

#box .aside .p1:hover {
  background: red;
}

#box .aside .p2:hover {
  background: green;
}

#box .aside .p3:hover {
  background: #333;
}

#box .app {
  position: fixed;
  right: 85px;
  top: 298px;
  width: 150px;
  height: 180px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  z-index: 22222;
}

#box .app img {
  width: 100px;
  height: 100px;
  margin: 24px 24px 0px 26px;
}

#box .app p {
  font-size: 14px;
  color: #333;
  padding: 5px 0;
  margin-left: 41px;
}

#box .weixin {
  position: fixed;
  right: 85px;
  top: 388px;
  width: 150px;
  height: 180px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  z-index: 22222;
}

#box .weixin img {
  width: 100px;
  height: 100px;
  margin: 24px 24px 0px 26px;
}

#box .weixin p {
  font-size: 14px;
  color: #333;
  padding: 5px 0;
  margin-left: 41px;
}

#box .kefu {
  position: fixed;
  z-index: 10085;
  bottom: 100px;
  right: 10px;
  width: 100px;
  height: 147px;
  cursor: pointer;
  z-index: 22223;
}

#box .kefu img {
  width: 100%;
  height: 100%;
}

#box .jiqiren {
  width: 600px;
  height: 490px;
  display: none;
  z-index: 876544;
  position: fixed;
  top: 100px;
  left: 500px;
  background: #fff;
  border: 1px solid #000;
}

#box .jiqiren .j_top {
  width: 600px;
  height: 30px;
  background: #ccc;
  position: relative;
}

#box .jiqiren .j_top h1 {
  font-size: 15px;
  padding-top: 5px;
  height: 30px;
}

#box .jiqiren .j_top .xx {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#box .jiqiren img {
  width: 600px;
}

#box .jiqiren .jqr_con {
  width: 600px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  margin-top: 50px;
}

#box .jiqiren .jqr_con ul {
  max-height: 400px;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  /*超出部分出现滚动条*/
  overflow-y: auto;
}

#box .jiqiren .jqr_con ul li {
  float: left;
  border-radius: 5px;
  background: orange;
  clear: both;
  margin: 10px 0;
  padding: 5px;
  line-height: 2;
}

#box .jiqiren .jqr_con ul .jqr_active {
  float: right;
  background: #58f;
  color: #fff;
}

#box .jiqiren .jqr_con textarea {
  display: block;
  min-height: 50px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

#box .jiqiren .jqr_con input {
  margin-top: 10px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 520px;
}

#box .jiqiren .jqr_con .status {
  display: none;
  position: absolute;
  left: 0;
  bottom: 18px;
  right: 0;
  text-align: center;
  color: #999;
}
